 {{!-- <div id="preloader">
            <div class="preloader-area">
            	<div class="preloader-box">
            		<div class="preloader"></div>
            	</div>
            </div>
        </div>


        <section class="header-top-section">
            <div class="container">
                <div class="row">
                    <div  class="col-md-6">
                        <div class="header-top-content">
                            <ul class="nav nav-pills navbar-left">
                                <li><a href="#"><i class="pe-7s-call"></i><span>123-123456789</span></a></li>
                                <li><a href="#"><i class="pe-7s-mail"></i><span> info@mart.com</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div  class="col-md-6">
                        <div class="header-top-menu">
                            <ul class="nav nav-pills navbar-right">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">Stocks</a></li>
                                <li><a href="#">API</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#"><i class="pe-7s-lock"></i>Log in/ Register</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <header class="header-section">
            <nav class="navbar navbar-default">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></snodepan>
                        </button>
                     
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#">Latest News</a></li>
                            <li><a href="#">page</a></li>
                            <li><a href="#">shop</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">My Portfolio</a></li>
                            
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container -->
            </nav>
        </header>

        <section class="search-section">
            <div class="container">
                <div class="row subscribe-from">
                    <div class="col-md-12">
                        <form class="form-inline col-md-12 wow fadeInDown animated">
                            <div class="form-group">
                                <input type="email" class="form-control subscribe" id="email" placeholder="Search...">
                                <button class="suscribe-btn" ><i class="pe-7s-search"></i></button>
                            </div>
                        </form><!-- end /. form -->
                    </div>
                </div><!-- end of/. row -->
            </div><!-- end of /.container -->
        </section><!-- end of /.news letter section -->
    
         <section class="slider-section">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators slider-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="images/slider.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                            <h2>LEARN HOW TO INVEST </h2>
                            <h3> <Span></Span></h3>
                            <a href="#">Invest</a>
                        </div>
                    </div>
                    <div class="item">
                        <img src="images/slider4.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                            <h2>   <b>Stocks</b>  </h2>
                            <h3>  <Span> </Span></h3>
                          
                        </div>
                    </div>
                    <div class="item ">
                        <img src="images/slider1.jpg" width="1648" height="600" alt="">
                        <div class="carousel-caption">
                            <h2> Crypto <b></b>  </h2>
                            <h3>  <Span> </Span></h3>
                           
                        </div>
                    </div>
                </div>
               <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="pe-7s-angle-left glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="pe-7s-angle-right glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
        </section> --}}
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">App Name</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sign in</a>
    </li>
  </ul>
</nav>


<div id="home">
  <div class="">
    <div class="row">
      <div class="col-8 offset-2">

        <h4>Sector Performance</h4>
        <table class="table table-stripped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Change (%)</th>
            </tr>
          </thead>
          <tbody class="tbody">
            
          </tbody>
        </table>

         
        <ul id="example-list" class="list-group">
          {{#each sectors}}
          <li data-id="{{this.id}}" class="list-group-item">
            <a href="sectors/{{this.id}}">{{this.text}}</a>
            <button class="btn btn-danger float-right delete">ｘ</button>
          </li>
          {{/each}}
        </ul>
      </div>
      
    </div>
  </div>
</div>
 <br><br><br><br><br>              
  <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>  Copyright All Rights Reserved</p>
                        
                    </div>
                </div>
            </div>
  </footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>

 