<!DOCTYPE html>
<html lang="en">

<head>
  <title>Passport Authentication</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  <link href="stylesheets/style.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="#">App Name</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Company</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Sectors</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">APi</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="#">News</a>
    </li>
     <li class="nav-item">
      <a class="nav-link" href="#">News Features</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Log out</a>
    </li>
    
  </ul>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2> You sing In as  <span class="member-name"></span></h2>
      </div>
      <script>
        $.get("/api/user_data").then(function(data){
          $(".member-name").text(data.email);
        });
      </script>
    </div>
  </div>
  <div id="home">
 <div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Example</h5>
          <p>
            <strong>ID</strong>: {{example.id}}</p>
          <p>
          <p>
            <strong>Text</strong>: {{example.text}}</p>
          <p>
            <strong>Description:</strong> {{example.description}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/members.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>
