<div class="container">
  <div class="jumbotron mt-4">
        <!-- Sign-up Form (note the various input "types")-->
            
            <form action="/insertUser" method="POST"></form>
              <div class="form-group row">
                <label for="email-input">Email:</label>
                <input  id="emailinput" type="email">
              </div>

              <div class="fo  rm-group row">
                <label for="password-input">Password:</label>
                <input   id="password" type="password">
              </div>
              <button class="btn btn-default" id="add-user" type="submit">Submit</button>
            </form>
  </div>
</div>
 
